---
http_interactions:
- request:
    method: post
    uri: http://testnet1.eos.io/v1/chain/get_block
    body:
      encoding: UTF-8
      string: '{"block_num_or_id":"inita"}'
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":500,"message":"Internal Service Error","details":"4 parse_error_exception:
        Parse Error\nUnexpected char ''105'' in \"inita\"\n    {\"c\":105,\"s\":\"inita\"}\n      json.cpp:430
        variant_from_stream\n\n    {\"str\":\"inita\"}\n      json.cpp:475 from_string"}'
  recorded_at: Thu, 15 Feb 2018 20:38:49 GMT
recorded_with: VCR 4.0.0
